@font-face {
  font-family: "iconfont"; /* Project id 4582717 */
  src: url('iconfont.eot?t=1718183396337'); /* IE9 */
  src: url('iconfont.eot?t=1718183396337#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1718183396337') format('woff2'),
       url('iconfont.ttf?t=1718183396337') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhujiruqinfangyu:before {
  content: "\e657";
}

.icon-shujuzhiliang-light:before {
  content: "\e7ca";
}

.icon-analysis:before {
  content: "\e860";
}

.icon-a-cloudnetwork:before {
  content: "\e862";
}

.icon-Deployment:before {
  content: "\e865";
}

.icon-Flexible:before {
  content: "\e866";
}

.icon-router:before {
  content: "\e868";
}

.icon-a-ssddiskspace:before {
  content: "\e869";
}

